/* ============================================================================================ */
/* ============================================================================================ */
/* header frame */

header {
    font-size: 10px;
    color: black;
}

.mediaHeader {
    display: none;
}

/* ============================================================================================ */
/* === 헤더 윗부분 === */

.logoWrap {
    width: 85%;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

/* ============================================================================================ */
/* === 헤더 로고 === */

.logoWrap>.logoInner {
    width: 15%;
}

.logoWrap>.logoInner>.logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 160px;
    max-width: 200px;
}

.logoWrap>.logoInner>.logo>a {
    display: block;
    width: 100%;
    height: 90%;
    background: url(../images/LOGO.png) center/100% no-repeat;
    text-indent: -9999em;
    opacity: 0.7;
}

/* ============================================================================================ */
/* === 헤더 네비 === */

.logoWrap>.headerNav {
    width: 40%;
}

.logoWrap a {
    opacity: 0.7;
}

.logoWrap>.headerNav>ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    align-items: center;
}

.logoWrap>.headerNav>ul>li {
    display: flex;
    justify-content: center;
}

.logoWrap>.headerNav>ul>li>a {
    font-size: 1.5em;
    white-space: nowrap;
}

/* 장바구니 */

.logoWrap>.headerNav>ul>.cart {
    width: 100%;
    height: 100%;
    align-items: center;
}

.logoWrap>.headerNav>ul>.cart>a {
    width: 40px;
    height: 40px;
    background: url(../images/cart2.png) center/80% no-repeat;
    text-indent: -9999em;
}

/* 검색창 */

.logoWrap>.headerNav>ul>li:last-of-type>form {
    width: 90%;
    height: 40px;
    min-width: 130px;
    position: relative;
}

.logoWrap>.headerNav>ul>li:last-of-type>form>input {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 4% 20% 4% 4%;
    opacity: 0.7;
}

.logoWrap>.headerNav>ul>li:last-of-type>form>button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: calc((100% - 40px)/2);
    right: 1%;
    background: url(../images/search2.png) center/65% no-repeat;
    border: none;
    overflow: hidden;
    opacity: 0.7;
}

/* ============================================================================================ */
/* === 카테고리 === */

.categoryWrap {
    height: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.categoryWrap a {
    opacity: 0.7;
}

.categoryWrap>.category {
    width: 85%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1.5fr repeat(5, 1fr) 1.5fr;
    grid-template-areas:
        " . bed liv kit dress help .";
    gap: 3%;
}

.categoryWrap>.category>li {
    height: 100%;
    position: relative;
}

.categoryWrap>.category>li>a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.categoryWrap>.category>li:first-of-type {
    grid-area: bed;
}

.categoryWrap>.category>li:nth-of-type(2) {
    grid-area: liv;
}

.categoryWrap>.category>li:nth-of-type(3) {
    grid-area: kit;
}

.categoryWrap>.category>li:nth-of-type(4) {
    grid-area: dress;
}

.categoryWrap>.category>li:last-of-type {
    grid-area: help;
}

.categoryWrap>.category>li>ul {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    display: none;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    background-color: white;
}

.categoryWrap>.category>li>ul>li {
    font-size: 1.3em;
    text-align: center;
    width: 100%;
    line-height: 40px;
}

.categoryWrap>.category>li>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
}

.categoryWrap>.category>li>ul>li:not(:first-of-type) {
    border-top: 0.5px dashed rgba(0, 0, 0, 0.1);
}

/* ============================================================================================ */
/* === 헤더 hover === */

header a:hover,
.logoWrap>.logoInner>.logo>a:hover,
.logoWrap>.headerNav>ul>li:last-of-type>form>button:hover {
    opacity: 1;
}

.logoWrap>.headerNav>ul>li:nth-of-type(-n + 3)>a:hover,
.categoryWrap>.category>li>a:hover {
    text-decoration: underline;
}

.categoryWrap>.category>li:hover ul {
    display: block;
}

.categoryWrap>.category>li>ul>li>a:hover {
    background-color: antiquewhite;
}

/* ============================================================================================ */
/* ============================================================================================ */