* {
    margin: 0;
    padding: 0;
    color: gray;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: auto;
}

/* ======================================================================================= */
/* =================================main============================ */

main {
    padding: 0 5%;
    font-size: 14px;
}

.AddAddressWrap {
    margin: 0 auto;
    margin-bottom: 150px;
}

.AddAddressTitle {
    height: 150px;
    line-height: 150px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: black;
    padding-top: 20px;
}

.AddAddressForm>div>p>img {
    display: inline-block;
    width: 10px;
    height: 10px;
    opacity: .7;
}

main>section>.AddAddressForm input {
    border: 1px solid silver;
}

main>section>.AddAddressForm>div {
    border-top: 1px solid silver;
    display: flex;
    flex-flow: row wrap;
    height: 50px;
    gap: 10px;
    align-items: center;
}

main>section>.AddAddressForm>div>p {
    border-right: 1px solid silver;
    width: 150px;
    line-height: 50px;
    padding-left: 10px;
}

main>section>.AddAddressForm>div>input {
    width: 200px;
    height: 30px;
}

main>section>.AddAddressForm>.Tell>input,
main>section>.AddAddressForm>.Tell>select {
    border: 1px solid silver;
    width: 50px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

main>section>.AddAddressForm>.AddressInputWrap {
    height: 150px;
}

main>section>.AddAddressForm>.AddressInputWrap>p {
    height: 150px;
    line-height: 150px;
}

main>section>.AddAddressForm>.AddressInputWrap>.AddressInput {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

main>section>.AddAddressForm>.AddressInputWrap>.AddressInput>div:first-of-type {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

main>section>.AddAddressForm>.AddressInputWrap>.AddressInput>div:first-of-type input {
    width: 150px;
    height: 30px;
}

main>section>.AddAddressForm>.AddressInputWrap>.AddressInput>div:first-of-type a {
    display: inline-block;
    border: 1px solid silver;
    height: 30px;
    line-height: 30px;
    width: 80px;
    text-align: center;
    font-size: 15px;
}

main>section>.AddAddressForm>.AddressInputWrap>.AddressInput>div:not(first-of-type) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
}

main>section>.AddAddressForm>.AddressInputWrap>.AddressInput>div:not(:first-of-type)>input {
    width: 500px;
    height: 30px;
}

main>section>.AddAddressForm>div:last-of-type {
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    gap: 10px;
    padding-right: 30px;
}

main>section>.AddAddressForm>div:last-of-type>input {
    width: 25px;
    height: 25px;
}

.AddressFormButtonWrap {
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
    height: 100px;
    padding-right: 30px;
}

.AddressFormButtonWrap>button,
.AddressFormButtonWrap>a {
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px;
    border: 1px solid silver;
    font-size: 20px;
    letter-spacing: 3px;
}

.AddressFormButtonWrap>button {
    background-color: black;
    color: white;
}

.AddressFormButtonWrap>button:hover {
    cursor: pointer;
}

main>section>.AddressCaution {
    border: 1px solid silver;
    margin-top: 50px;
}

main>section>.AddressCaution>p {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding-left: 10px;
    background-color: rgb(239, 239, 239);
}

main>section>.AddressCaution>ul {
    height: 100px;
    padding-left: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

main>section>.AddressCaution>ul>li {
    font-size: 18px;
}

main>section>.AddressCaution>ul>li>strong {
    font-size: 19px;
}