body {
    width: 100%;
    margin: auto;
}






/* ============================================================================================ */
/* ============================================================================================ */
/* =================================main============================ */
main {
    padding: 0 5%;
    font-size: 14px;
}

.MyPageWrap,
.MentWrap,
.MyPointWrap,
.MyMenuWrap,
.MyOrderWrap,
.MyPage {
    width: 1600px;
    min-width: 1600px;
    margin: 0 auto;
}

.MyPageWrap {
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 50px;
}

.MyPage {
    height: 150px;
    line-height: 150px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: black;
    padding-top: 20px;
}

/* ==============================회원 인사 멘트 박스============================== */
/* ==============================회원 인사 멘트 박스============================== */
/* ==============================회원 인사 멘트 박스============================== */
.Ment {
    width: 100%;
    height: 100px;
    border: 1px silver solid;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
}

.Ment>img {
    display: inline-block;
    height: 80%;
    width: auto;
    margin-left: 10px;
}

.MentContent>strong {
    color: gold;
}

/* ==============================적립금 박스============================== */
/* ==============================적립금 박스============================== */
/* ==============================적립금 박스============================== */

.MyPoint {
    display: flex;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    padding: 30px 30px;
    box-sizing: border-box;
    border: 2px solid silver;
}

.PointCoupon {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-right: 5%;
}

.PointCoupon>li {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.PointCoupon>li a {
    display: inline-block;
    width: 60px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    border-radius: 10%;
    border: solid 0.5px silver;
    font-size: 10px;
    color: black;
}

.PointCoupon>li strong {
    color: gold;
}

.TotalPoint {
    width: 50%;
    height: 60%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-right: 100px;
}

.TotalPoint>li {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* ==============================주문 현황 박스============================== */
/* ==============================주문 현황 박스============================== */
/* ==============================주문 현황 박스============================== */

.MyOrderWrap {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
}

.MyOrder {
    width: 100%;
    height: 100%;
    border: 1px solid silver;
}

.MyOrder>p {
    font-weight: bold;
    font-size: 15px;
    color: black;
    padding: 10px;
}

.MyOrder>p strong {
    color: blue;
}

.MyOrderProcess {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template: repeat(1, 90%) / repeat(5, 20%);
    margin-bottom: 10%
}

.MyOrderProcess>div {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 0;
}

.MyOrderProcess>div:not(div:last-of-type) {
    border-right: solid 0.5px rgba(192, 192, 192, 0.833);
}

.MyOrderProcess div>ul>li {
    color: black;
}

.MyOrderProcess div>ul>li>span {
    color: gold;
}

.MyOrderProcess>div>p>a {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.MyOrderProcess>div>p+span>a {
    font-size: 25px;
    color: gold;
}

/* ==============================여러 메뉴============================== */
/* ==============================여러 메뉴============================== */
/* ==============================여러 메뉴============================== */

.MyMenu {
    padding: 30px;
    margin: 50px auto;
    width: 100%;
    height: 900px;
    display: grid;
    grid-template: 30% 30% 30% / 30% 30% 30%;
    row-gap: 3.3%;
    column-gap: 3.3%;
    justify-content: space-between;
    border: 1px solid silver;
    margin-bottom: 100px;
}

.MyMenu>div {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 5%;
}

.MyMenu>div a strong {
    font-size: 20px;
    color: black;
}

.MyMenu>div p {
    font-size: 13px;
}

.MyMenu>div span {
    display: block;
}