/* ============================================================================================ */
/* ============================================================================================ */
/* header frame */

header {
    width: 100%;
    height: 150px;
    min-width: 1600px;
}

/* ============================================================================================ */
/* header>logoWrap frame */

.logoWrap {
    width: 1600px;
    height: 100px;
    position: relative;
    line-height: 100px;
    margin: auto;
}

.logoInner,
.headerNav,
.headerNav ul li {
    display: inline-block;
}

/* ============================================================================================ */
/* LOGO */

.logoInner,
.headerNav {
    position: absolute;
}

.logoInner .logo {
    width: 200px;
    height: 100px;
}

.logoInner .logo a {
    background: url(./image/LOGO.png) center/90% no-repeat;
    display: block;
    text-indent: -9999em;
}

/* ============================================================================================ */
/* nav */

.headerNav {
    right: 0;
}

.headerNav ul li {
    margin: 0 30px;
}

.headerNav ul .cart {
    width: 50px;
    text-align: center;
}

.headerNav ul .cart a {
    background: url(./image/cart.png) center/60% no-repeat;
    line-height: 40px;
    display: block;
    text-indent: -9999em;
    opacity: 0.5;
}

/* ============================================================================================ */
/* nav search frame */

.headerNav ul li:last-of-type input {
    border: 1px solid;
    height: 40px;
    line-height: 40px;
    border-radius: 25px;
    padding: 5px 40px 5px 20px;
}

.headerNav ul li:last-of-type form {
    position: relative;
}

.headerNav ul li:last-of-type button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: calc((100% - 28px)/2);
    right: 10px;
    border: none;
    background: url(./image/search.png) center/70% no-repeat;
    opacity: 0.5;
}

/* ============================================================================================ */
/* nav hover Setting */

.headerNav ul li a:hover {
    color: black;
    text-decoration: underline;
}

.headerNav ul .cart a:hover {
    opacity: 1;
}

.headerNav ul li:last-of-type button:hover {
    opacity: 1;
}

/* ============================================================================================ */
/* categoryWrap frame */

.categoryWrap {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

/* ============================================================================================ */
/* category */

.category {
    width: 1600px;
    height: 100%;
    margin: auto;
}

.category>li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 50px;
}

.category li {
    width: 150px;
}

.category li a {
    display: block;
}

.category li ul {
    position: absolute;
    display: none;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.category li ul li a {
    font-size: 12px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

/* ============================================================================================ */
/* category hover setting */

.category>li:hover>a {
    color: black;
    text-decoration: underline;
}

.category>li:hover ul {
    display: block;
}

.category li ul li:hover a {
    background-color: antiquewhite;
    color: black;
}

/* ============================================================================================ */
/* ============================================================================================ */